<h2>Kluby</h2>
<%= link_to "Nový", new_club_path, :class => "admin" %>
<br><br>
<% for club in @clubs %>
<div class="club">
	<%= link_to "Edit", edit_club_path(club.id), :class => "admin" %> 
	<%= link_to "Smazat", club_path(club.id), :method => "delete", :class => "admin" %>
	<div class="club_name">
		<%= club.name %>
	</div>
</div>
<% end %>