<div class="club">

<div class="club_name">
	<%= @club.name %>
</div>
<div class="club_info">
<% unless @club.www.nil? %>
	<p>
		<a href="<%= @club.www %>" target="_blank">web page</a>
	</p>
<% end %>
</div>	
</div>