<h2>O Vlkabaretu</h2>
<div class = "about_us">
	<div class="about_us_par1">
		Vlkabaret je skupina herců a hudebníků inspirujících se tradicí kabaretního umění v Německu, Francii a Praze od přelomu 19. a 20.stol do 2.sv.v. (Kabaret Elf Scharfrichter, Simpl, Chat Noir, Červená sedma, Bum, Ferenc Futurista, Ivo Rubín) Páteří představení jsou autorské písně Marka Vlka Nováka a členů Vlkabaretu, citlivě převedené do divadelní formy mj. za použití hereckých scén, loutek, převleků a masek. V programu zaznívají také písně z předválečného kabaretu (Ivo Rubín z Červené sedmy), zhudebněné básně (Christian Morgenstern) a čínské písně. Důležitou složkou je rozmanitost nástrojů – tři akordeony, malá a velká kytara, klavír, xylofon, buben, perkuse. 
		Nálada představení se pohybuje mezi šansonovou melancholií a drastickou komikou. Snažíme se o pozdvižení kabaretu jako uměleckého žánru.
	</div>
	
	<div class="about_us_picture">
		<img src="images/vlkabaret.jpg">
	</div>
</div>
		<% unless @actors.nil?  %>
		<div class="actors">
		<h3 class="top_margin">Členové</h3>
		<ul class="actors">
			
			<% for actor in @actors %>
				<li><%=h actor.firstName %> <%=h actor.lastName%></li>
			<% end %>
		</ul>
		</div>
		<% end %>

