body{
	font: 12px Verdana, "Lucida Grande", "Trebuchet MS", sans-serif;
	color: #999999;
	background-color: #000000;
}
#main_container{
	width: 800px;
	
	margin: auto;
	padding: 0px;
	background-image: url("../images/banner_small_refl2.jpg");
	background-position: right 10px;
	background-repeat: no-repeat;
}
#top_container{
	height: 130px;
	padding: 0px;
	padding-left: 0px;
	padding-top: 10px;
	margin: 0px;
	margin-left: 20px;
	border-bottom: 2px solid #111111;
}
#header_container{
	text-align: left;
	padding: 0px;
	margin-right: 0px;
}
#header_line{
	padding: 0;
	margin: 0;
}
#menu_container{
	position: absolute;
	top: 120px;
}
#content_container{
	height: 100%;
	margin: 0px;
	padding: 45px;
	padding-top: 0;
}

h1{
	margin:0;
	padding:0;
	color: #EEEEEE;
	font-size: 60px;
	font-family: Verdana;
	text-transform: capitalize;
}
h2{
	color: #EEEEEE;
	margin-top: 20px;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
}
h3{
	font-weight: bold;
	margin: 0;
	color: #EEEEEE;
	font-size: 14px;
	margin-bottom: 10px;
	//text-decoration: underline;
}
h3.top_margin{
	margin-top: 80px;
}
input{
	background-color: #cccccc;
	border: 1px solid #999999;
}
textarea{
	background-color: #cccccc;
	border: 1px solid #999999;
}

ul.vertical_menu{
	list-style-type:none;
	margin:0;
	padding:0;
	padding-top:6px;
	padding-bottom:6px;
}
li.vertical_menu{
	display:inline;
	padding-right: 50px;
}
a:link, a:visited{
	color: #EBEBEB;
	font-weight:normal;
}

a:hover, a:active {
	text-decoration:underline;
} 

a.vertical_menu{
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
}

a.vertical_menu:hover{
	text-decoration: underline;
	font-weight: bold;
}
a.admin{
	font-size: 10px;
	color: #CC6600;
}

div.news{
	/* border-top: 1px solid #111111;
	background-color: #111111;
	
	padding-top: 30px;
	width: 100%;
	margin-bottom: 20px; */
	margin-top: 0px;
	padding: 0px;
}
div.user{
	margin-bottom: 20px;
}
div.concert_today{
	margin-bottom: 30px;
	margin-left: 10px;
}
div.concert_future{
	margin-bottom: 30px;
	margin-left: 10px;
}
div.concert_past{
	margin-bottom: 30px;
	margin-left: 10px;
}

div.concert_name{
/*	font-weight: bold;
	margin-bottom: 5px;
	text-decoration: underline;;
*/
}
div.concert_info{
	font-style: italic;
	margin-bottom: 5px;
}
div.concert_price{

}
div.concert_time{
	margin-bottom: 5px;
	padding: 0px;
}
div.concert_club{
	
}
div.news_header{
	padding: 0;
	margin: 0;
	margin-left: 3px;
	font-weight: bold;
	text-decoration: none;
}
div.news_body{
	font-style: italic;
	margin-bottom: 40px;
	margin-left: 3px;
	
}
div.about_us_picture{
	text-align: center;
	margin-bottom: 30px;
}
div.club{
	margin-bottom: 30px;
}
div.club_name{
	font-weight: bold;
}
div.club_info{
	border-top: 1px solid #999999;
	padding: 10px;
	padding-top: 0px;
}
div.about_us{
	margin: 0px;
	padding: 0px;
}
div.about_us_par1{

}
div.about_us_par2{
	margin-bottom: 20px;
	font-weight: bold;
}
div.about_us_par3{
	margin-bottom: 50px;
}
div.about_us_picture{
	text-align: center;
	margin: 50px;
}


p.little_label{
	margin-top: 10px;
}
p.little_value{
	margin: 1px;
	padding-left: 3px;
	
}
div.login{
	text-align: right;
	padding-right: 10px;
	margin-right: 0px;
	margin-left: 10px;
	padding-top: 10px;
	border-top: 1px solid #111111;
	/* background-color: #111111; */
}
div.actors{
	margin-top: 0px;
}
#first_page{
	margin-bottom: 20px;
}
ul.actors{
	margin:0px;
	padding:0px;
	padding-left: 15px;
}


h3.concert_name{
	margin: 0px;
	padding:3px;
	padding-bottom: 5px;
}


/*rounded corners*/
.b1h, .b2h, .b3h, .b4h, .b2bh, .b3bh, .b4bh{font-size:1px; overflow:hidden; display:block;}
.b1h {height:1px; background:#555555; margin:0 5px;}
.b2h, .b2bh {height:1px; background:#111111; border-right:2px solid #555555; border-left:2px solid #555555; margin:0 3px;}
.b3h, .b3bh {height:1px; background:#111111; border-right:1px solid #555555; border-left:1px solid #555555; margin:0 2px;}
.b4h, .b4bh {height:2px; background:#111111; border-right:1px solid #555555; border-left:1px solid #555555; margin:0 1px;}
.b2bh, .b3bh, .b4bh {background: #111111;}
.headh {background: #555555; border-right:1px solid #555555; border-left:1px solid #555555;}
.headh h3 {margin: 0px 10px 0px 10px; padding-bottom: 3px;}
.contenth {background: #111111; border-right:1px solid #555555; border-left:1px solid #555555;}
.contenth div {margin-left: 12px; padding-top: 5px;}


.b1h_green, .b2h_green, .b3h_green, .b4h_green, .b2bh_green, .b3bh_green, .b4bh_green{font-size:1px; overflow:hidden; display:block;}
.headh_green {background: #559955; border-right:1px solid #559955; border-left:1px solid #559955;}
.b1h_green {height:1px; background:#559955; margin:0 5px;}
.b2h_green {height:1px; background:#559955; border-right:2px solid #559955; border-left:2px solid #559955; margin:0 3px;}
.b3h_green {height:1px; background:#559955; border-right:1px solid #559955; border-left:1px solid #559955; margin:0 2px;}
.b4h_green {height:2px; background:#559955; border-right:1px solid #559955; border-left:1px solid #559955; margin:0 1px;}


.b1h_grey, .b2h_grey, .b3h_grey, .b4h_grey, .b2bh_grey, .b3bh_grey, .b4bh_grey{font-size:1px; overflow:hidden; display:block;}
.headh_grey {background: #555555; border-right:1px solid #555555; border-left:1px solid #555555;}
.b1h_grey {height:1px; background:#555555; margin:0 5px;}
.b2h_grey {height:1px; background:#555555; border-right:2px solid #555555; border-left:2px solid #555555; margin:0 3px;}
.b3h_grey {height:1px; background:#555555; border-right:1px solid #555555; border-left:1px solid #555555; margin:0 2px;}
.b4h_grey {height:2px; background:#555555; border-right:1px solid #555555; border-left:1px solid #555555; margin:0 1px;}

.b1h_red, .b2h_red, .b3h_red, .b4h_red, .b2bh_red, .b3bh_red, .b4bh_red{font-size:1px; overflow:hidden; display:block;}
.headh_red {background: #DD4433; border-right:1px solid #DD4433; border-left:1px solid #DD4433;}
.b1h_red {height:1px; background:#DD4433; margin:0 5px;}
.b2h_red {height:1px; background:#DD4433; border-right:2px solid #DD4433; border-left:2px solid #DD4433; margin:0 3px;}
.b3h_red {height:1px; background:#DD4433; border-right:1px solid #DD4433; border-left:1px solid #DD4433; margin:0 2px;}
.b4h_red {height:2px; background:#DD4433; border-right:1px solid #DD4433; border-left:1px solid #DD4433; margin:0 1px;}