body{
	font: 10px Verdana, "Lucida Grande", "Trebuchet MS", sans-serif;
	color: #CCCCCC;
	background-color: #000000;
}
#main_container{
	width: 800px;
	
	margin: auto;
	padding: 0px;
}
#top_container{
	height: 130px;
	padding: 0px;
	padding-left: 0px;
	padding-top: 10px;
	margin: 0px;
	margin-left: 20px;
	border-bottom: 1px solid #111111;

	background-image: url("../images/banner_small_refl.jpg");
	background-position: 0px 10px;
	background-repeat: no-repeat;
}
#header_container{
	text-align: right;
	padding: 0px;
	margin-right: 0px;
}
#header_line{
	padding: 0;
	margin: 0;
}
#menu_container{
	position: absolute;
	top: 120px;
}
#content_container{
	height: 100%;
	margin: 0px;
	padding: 45px;
	padding-top: 0;
}
input{
	background-color: #cccccc;
	border: 1px solid #999999;
}
textarea{
	background-color: #cccccc;
	border: 1px solid #999999;
}

h1{
	margin:0;
	padding:0;
	color: #EBEBEB;
	font-size: 35px;
	font-family: Verdana;
	text-transform: capitalize;
}
h3{
	font-weight: bold;
	margin: 0;
	color: #EBEBEB;
	margin-bottom: 10px;
	//text-decoration: underline;
}
h3.top_margin{
	margin-top: 20px;
}
ul.vertical_menu{
	list-style-type:none;
	margin:0;
	padding:0;
	padding-top:6px;
	padding-bottom:6px;
}
li.vertical_menu{
	display:inline;
	padding-right: 50px;
}
a:link, a:visited{
	color: #EBEBEB;
	font-weight:normal;
}

a:hover, a:active {
	text-decoration:underline;
} 

a.vertical_menu{
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
}

a.vertical_menu:hover{
	text-decoration: underline;
	font-weight: bold;
}

div.news{
/*	border: 1px solid #ffffff;
	background-color: #220000;
*/
	width: 100%;
	margin-bottom: 20px;
}
div.concert{
	margin-bottom: 30px;
}
div.concert_name{
/*	font-weight: bold;
	margin-bottom: 5px;
	text-decoration: underline;;
*/
}
div.concert_info{
	font-style: italic;
	margin-bottom: 5px;
}
div.concert_price{

}
div.concert_time{
	margin-bottom: 5px;
	padding: 0px;
}
div.news_header{
	padding: 0;
	margin: 0;
	margin-left: 3px;
	font-weight: bold;
	text-decoration: none;
}
div.news_body{
	font-style: italic;
	margin-bottom: 40px;
	margin-left: 3px;
	
}
div.club{
	margin: 30px;
}
div.club_name{
	font-weight: bold;
}
div.club_info{
	border-top: 1px solid #999999;
	padding: 10px;
	padding-top: 0px;
}
p.little_label{
	margin-top: 10px;
}
p.little_value{
	margin: 1px;
	padding-left: 3px;
	
}
div.login{
	text-align: right;
	padding-right: 10px;
	margin-right: 0px;
	margin-left: 10px;
	padding-top: 10px;
	border-top: 1px solid #111111;
	/* background-color: #111111; */
}
div.actors{
	margin-top: 50px;
}
#first_page{
	margin-bottom: 20px;
}
ul.actors{
	margin:0px;
	padding:0px;
	padding-left: 15px;
}
