<div id="first_page">
<h3>Vlkabaret</h3>
Bufetová nostalgie v bílém baretu pivního džbánu. Kabaret, který vyudí koleno barové zpěvačky Christiany Morgensternové. Ostrost rosí jelení lůj na frontě. Jeho jazyk setře prach z čínské zdi. Nad orchestrem visí: zapal sobě.
Hudebně-divadelní pásmo sestávající převážně z autorských písní. Vycházíme z tradice českého, německého a francouzského kabaretu. V představení se setkají postavy zestárlé baletky, žoviálního cestovatele, barové zpěvačky, klauna, herce čínské opery, ženy středních let, hospodských šviháků, pianisty z jiného světa a další.
Mezi šansonovou melancholií a drastickou komikou.
</div>
<h3 class="top_margin">Novinky</h3>
<% for news in @news %>
<div class="news">
	<div class="news_header"><%=h news.header %></div>
	<div class="news_body"><%=h news.body %></div>
</div>
<% end %>
