<div>
<%= link_to 'Nová', new_role_path() %>
</div>
<br><br>
<% for role in @roles%>

<div class="user">
<div>
	<%= link_to 'Edit', edit_role_path(role) %>
	<% if role.users.size == 0 %><%= link_to 'Smazat', role_path(role), :method => "delete" %><% end %>
</div>
<div class="user_name"><%=h role.name %></div>
</div>
<% end %>
